@font-face{
	font-family: Century Gothic;
	src:url(../fonts/CenturyGothic-Bold.woff);
}

@font-face{
	font-family: Helvetica;
	src:url(../fonts/HelveticaRegular.woff);
}

body{
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Helvetica";
    color:#87ddd5;
    background-color: #252525;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.glav_header{
	min-height: 490px;
	position: relative;
}

.glav_header::before{
	content: "";
	background-image: url("../img/bg_header.jpg");
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size: cover;
	opacity: 0.3;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -2;
}
.glav_header::after{
	content: "";
	background: #252525;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	height: 74px;
}
.main_header{
	height: 74px;
	m0
}

.main_navigation{
 		  float:left;
 		  width: 780px;
}

.main_navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main_navigation li{
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;

}

.main_navigation a{
	display: block;
	padding: 25px 20px;
	color: #87ddd5;
	text-decoration: none;
}

.main_navigation a:hover{
	color:#49bbb0;
	background: #333333;
}

.user_block{
	float: right;
	width: 140px;

}

.login{
	position: relative;

	display: inline-block;
	padding: 25px 20px;
	padding-left: 25px;
	
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #87ddd5;
	text-decoration: none;
}

.login:hover{
	color:#49bbb0;
	background: #333333;
}


.index_logo{
	width: 261px;
	height: 206px;
	padding: 50px;
	margin: 0 auto;
	margin-bottom: 5px;
}


.header_social{
	font-size: 0;
	text-align: center;
}

.social-btn{
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 20px;
	vertical-align: middle;
	color: #87ddd5;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
}

.social-btn-vk{
	background-position: 0 0;
}

.social-btn-ok{
	background-position: -95px 0;
}

.social-btn-in{
	background-position: -192px 0;
}

.social-btn-fn{
	background-position: -285px 0;
}

.social-btn-em{
	background-position: -380px 0;
}

.index_content,
.gallery{
	width:940px;
	margin:0 auto;
	padding:20px;
}

.index_content p{
	margin-left: 150px;
}

.index_content_title{
	margin: 0;
	margin-bottom: 20px;
	padding-top: 20px;
	font-weight: bold;
	font-size: 30px;
	font-family: Century Gothic, serif;
}

.btn{
	display:inline-block;
	width: 150px;
	padding: 10px 33px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "Helvetica";
	vertical-align: top;
	text-align: center;
	word-wrap: break-word;
	border: 2px solid #87ddd5;
	border-radius: 2px;
	margin-right: 20px;
	
	color:#87ddd5;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #252525;
	outline: none;
	cursor: pointer;
}

.btn:hover{
	color:#222222;
	background-color: #87ddd5;	
}

.btn:active{
	color:#222222;
	background-color: #87ddd5;
	opacity: 0.7;
}

.bt:disabled{
	cursor: default;
	opacity: 0.5;
}

.bt:disabled:hover{
	background-color: #252525;
	color: #87ddd5;
}

.gallery_content{
	height: 680px;
	margin: 0;
}

.gallery_content{
	width: 1020px;
	height: 490px; 
}

.index_content_left{
	float: left;
	width: 500px;
}
.index_content_left p{
	margin: 0;
	padding: 20px;
}

.index_content_right{
	float: right;
	width: 400px;
}





