@font-face{
	font-family: "Helvetica";
	src:url(fonts/Helvetica.ttf);
}

body{
    min-width: 1040px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Helvetica";
    color:#87ddd5;
    background-color: #252525;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

.glav_header{
	min-height: 490px;
	position: relative;
}

.glav_header::before{
	content: "";
	background-image: url("../img/bg_header.jpg");
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size: cover;
	opacity: 0.3;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -2;
}
.glav_header::after{
	content: "";
	background: #252525;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	height: 74px;
}
.main_header{
	height: 74px;
	m0
}

.main_navigation{
 		  float:left;
 		  width: 810px;
}

.main_navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main_navigation li{
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;

}

.main_navigation a{
	display: block;
	padding: 25px 20px;
	color: #87ddd5;
	text-decoration: none;
}

.main_navigation a:hover{
	color:#49bbb0;
	background: #333333;
}

.user_block{
	float: right;
	max-width: 140px;	
}

.login{
	position: relative;

	display: inline-block;
	padding: 25px 20px;
	padding-left: 25px;
	
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #87ddd5;
	text-decoration: none;
}

.login:hover{
	color:#49bbb0;
	background: #333333;
}



.index_logo{
	width: 261px;
	height: 206px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.index_content{
	padding:50px 80px;
}