body{
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Helvetica";
    color:#87ddd5;
    background-color: #252525;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

.main_header{
	margin-bottom: 60px;
}

.main_navigation{
 		  
}
.user_block{
	float: right;
	width: 140px;	
}

.index_logo{
	width: 261px;
	height: 206px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}
.index_content{
	padding:50px 80px;
}